{{extend './layout.html'}}


<!-- 连接块 -->
{{block 'link'}}

{{/block}}


<!-- 连接选择 -->
{{block 'select'}}
<section class="content-header">
        <h1>
          关于我们
          <small>信息</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> 关于我们</a></li>
          <li class="active">Here</li>
        </ol>
</section>
{{/block}}

<!-- 内容部分 -->
{{block 'content'}}
<section class="content">
    <div style="text-align: center">
        <h3>学生野外实习平台</h3>
        <p>致力打造安全可靠的野外实习平台，让你的野外实习安全简便</p>
        <p>本实习平台采用了AdminLTE2一个基于bootstraps的轻便模板</p>
    </div>
    <div style="text-align: center; margin-top: 100px">
         <p>请扫描下方二维码安装手机端</p>
        <img style="width: 200px;height: 200" src="/public/img/1562582823737.jpg" alt="">
       
    </div>
    
    
</section>
{{/block}}

<!-- js部分 -->
{{block 'js'}}

{{/block}}