{{extend './layout.html'}}
{{block 'link'}}
<link rel="stylesheet" href="../public/css/map.css">
<link rel="stylesheet" href="https://cache.amap.com/lbs/static/main1119.css" />
{{/block}}

<!-- 连接选择 -->
{{block 'select'}}
<section class="content-header">
    <h1>
        地图
        <small>信息</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 地图</a></li>
        <li class="active">Here</li>
    </ol>
</section>
{{/block}}

{{block 'content'}}
<section class="content">
    <!-- 全部人员信息 -->
    <div class="map" id="map">

    </div>
    <!-- 个人运动轨迹
    <div class="onemap" id="onemap">

    </div> -->

</section>



{{/block}}


{{block 'js'}}

<!-- 加载地图JSAPI脚本 -->
<script src="https://webapi.amap.com/maps?v=1.4.14&key=	ab969b0985106a6a6e83338a5595d02a"></script>
<script src="https://a.amap.com/jsapi_demos/static/demo-center/js/demoutils.js"></script>
<script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
<script>
    //获取数据
    var taskmap = null
    var address = []

    function getdata() {
        $.ajax({
            url: '/taskmap',
            type: 'post',
            dataType: 'JSON',
            //同步
            async: false,
            success: function (data) {
                taskmap = data.taskmap
                length = data.taskmap.length
            }
        });
    }
    getdata()

    //初始化地图
    var info;
    var map = new AMap.Map('map', {
        resizeEnable: true, //是否监控地图容器尺寸变化
        zoom: 13, //初始化地图层级
        center: [JSON.parse(taskmap[0].Location).location.slice(-1)[0].log, JSON.parse(taskmap[0].Location)
            .location.slice(-1)[0].lat
        ] //初始化地图中心点
    });

    //逆编码
    AMap.plugin('AMap.Geocoder', function () {
        var geocoder = new AMap.Geocoder({
            // city 指定进行编码查询的城市，支持传入城市名、adcode 和 citycode
            city: 全国
        })
        for (var i = 0, marker; i < length; i++) {
            var lnglat=JSON.parse(taskmap[i].Location).location.slice(-1)[0]
            geocoder.getAddress(lnglat, function (status,
            result) {
                if (status === 'complete' && result.info === 'OK') {
                    // result为对应的地理位置详细信息
                    address[i] = result;
                    taskmap[i].address=address[i]
                }
            })
        }
    })
    //信息框
    var infoWindow = new AMap.InfoWindow({
        offset: new AMap.Pixel(0, -30)
    });
    //增加点标记
    for (var i = 0, marker; i < length; i++) {
        var marker = new AMap.Marker({
            position: [JSON.parse(taskmap[i].Location).location.slice(-1)[0].log, JSON.parse(taskmap[i]
                .Location).location.slice(-1)[0].lat],
            map: map
        });
        //显示内容
        marker.content = `<div>
        <div><b>姓名:` + taskmap[i].Name + `</b></div>
        <div><b>班级:` + taskmap[i].Class + `</b></div>
        <div><b>学号:` + taskmap[i].UserId + `</b></div>
       
        <a class='btn btn-success btn-block' href='/onemap?UserId=` + taskmap[i].UserId + `'>行走轨迹</a>
        </div>`;
        marker.on('click', markerClick,);
        marker.emit('click', {
            target: marker
        });
    }


    //点击事件
    function markerClick(e) {
        infoWindow.setContent(e.target.content);
        infoWindow.open(map, e.target.getPosition());
    }

</script>
{{/block}}