{{extend './layout.html'}}


<!-- 连接块 -->
{{block 'link'}}

{{/block}}


<!-- 连接选择 -->
{{block 'select'}}
<section class="content-header">
        <h1>
          成绩统计
          <small>信息</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> 成绩统计</a></li>
          <li class="active">Here</li>
        </ol>
</section>
{{/block}}

<!-- 内容部分 -->
{{block 'content'}}
<section class="content">
    <div class="container" >
        <script src="/node_modules/bootstrap/dist/css/bootstrap.css"></script>
        <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">成绩查询与统计</div>
                <div class="panel-body">                     
                        <form id="analy_form" class="form-inline">
                                <div >
                                        <button type="submit" class="btn btn-primary">查询</button>
                                </div>
                        
                                
                        </form>
                </div>
              
                <!-- Table -->
                
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
    
                            <th>平均数</th>
    
                            <th>最大值</th>
    
                            <th>最小值</th>
    
                            <th>标准差</th>
    
                            <th>中位数</th>
                        </tr>
                    </thead>
                    <tbody>
    
                        <tr>
                            <td >数据统计</td>
                            <td id='num1'></td>
                            <td id='num2'></td>
                            <td id='num3'></td>
                            <td id='num4'></td>
                            <td id='num5'></td>
                        </tr>
                    </tbody>
                </table>
                
        </div>
    
    </div>
        <div id="container" style="height: 600px"></div>
</section>
{{/block}}

<!-- js部分 -->
{{block 'js'}}
<script>
    var dearr
    var daarr

  $('#analy_form').on('submit', function (e) {
    e.preventDefault()
    var formData = $(this).serialize()
    $.ajax({
      url: '/gradedisplay?TaskId={{taskid}}',
      type: 'post',
      data: formData,
      dataType: 'json',
      success: function (data) {
        dearr=data.name
        daarr=data.grade
        cal=data.calreason
          $('#num1').text(cal.mean)
          $('#num2').text(cal.max)
          $('#num3').text(cal.min)
          $('#num4').text(cal.staddev)
          $('#num5').text(cal.mid)
          var dom = document.getElementById("container");
      var myChart = echarts.init(dom);

      option = null;
      option = {
          tooltip: {
              trigger: 'axis',
              position: function (pt) {
                  return [pt[0], '10%'];
              }
          },
          title: {
              left: 'center',
              text: '成绩分布图',
          },
          toolbox: {
              feature: {
                  dataZoom: {
                      yAxisIndex: 'none'
                  },
                  restore: {},
                  saveAsImage: {}
              }
          },
          xAxis: {
              type: 'category',
              boundaryGap: false,
              data: dearr
          },
          yAxis: {
              type: 'value',
              boundaryGap: [0, '100%']
          },
          dataZoom: [{
              type: 'inside',
              start: 0,
              end: 10
          }, {
              start: 0,
              end: 10,
              handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
              handleSize: '80%',
              handleStyle: {
                  color: '#fff',
                  shadowBlur: 3,
                  shadowColor: 'rgba(0, 0, 0, 0.6)',
                  shadowOffsetX: 2,
                  shadowOffsetY: 2
              }
          }],
          series: [{
              name: '学生成绩',
              type: 'line',
              smooth: true,
              symbol: 'none',
              sampling: 'average',
              itemStyle: {
                  color: 'rgb(255, 70, 131)'
              },
              areaStyle: {
                  color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                      offset: 0,
                      color: 'rgb(255, 158, 68)'
                  }, {
                      offset: 1,
                      color: 'rgb(255, 70, 131)'
                  }])
              },
              data: daarr
          }]
      };;
      if (option && typeof option === "object") {
          myChart.setOption(option, true);
      }
      }
    })
  })
</script>
{{/block}}