{{extend './layout.html'}}


<!-- 连接块 -->
{{block 'link'}}

{{/block}}


<!-- 连接选择 -->
{{block 'select'}}
<section class="content-header">
        <h1>
          首页
          <small>信息</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
          <li class="active">Here</li>
        </ol>
</section>
{{/block}}

<!-- 内容部分 -->
{{block 'content'}}
<section class="content">
    <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, nisi enim? Totam, quibusdam beatae esse aut incidunt eius tempora aperiam animi molestias quae ducimus voluptatibus eum, commodi delectus temporibus fugit?
    </h1>
    <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, nisi enim? Totam, quibusdam beatae esse aut incidunt eius tempora aperiam animi molestias quae ducimus voluptatibus eum, commodi delectus temporibus fugit?
    </h1>
    <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, nisi enim? Totam, quibusdam beatae esse aut incidunt eius tempora aperiam animi molestias quae ducimus voluptatibus eum, commodi delectus temporibus fugit?
    </h1>
    <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, nisi enim? Totam, quibusdam beatae esse aut incidunt eius tempora aperiam animi molestias quae ducimus voluptatibus eum, commodi delectus temporibus fugit?
    </h1>
    <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, nisi enim? Totam, quibusdam beatae esse aut incidunt eius tempora aperiam animi molestias quae ducimus voluptatibus eum, commodi delectus temporibus fugit?
    </h1>
</section>
{{/block}}

<!-- js部分 -->
{{block 'js'}}

{{/block}}