{{extend './layout.html'}}


{{block 'link'}}
{{/block}}

<!-- 连接选择 -->
{{block 'select'}}
<section class="content-header">
    <h1>
        新建测试
        <small>信息</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 新建测试</a></li>
        <li class="active">Here</li>
    </ol>
</section>
{{/block}}

{{block 'content'}}
<section class="content">
<div class="box box-primary">
    <div class="box-header">

    </div>
    <div class="box-body">
        <form id='newtest_form'>
            <div class="form-group">
                <label for="testname">测试名称</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" name="testname" class="form-control formbg" id="testname" placeholder="text">
                </div>

            </div>
            <div class="form-group">
                <label for="totalgrade">分值</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="number" name="totalgrade" class="form-control formbg" id="totalgrade"
                        placeholder="number">
                </div>

            </div>

            <div class="form-group">
                <label for="deadtime">截止时间</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="date" name="deadtime" class="form-control formbg" id="deadtime" placeholder="text">
                </div>

            </div>

            <div class="form-group">
                <label for="testcontent">测试内容</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <textarea class="form-control formbg" name='testcontent' rows="5" id="testcontent"></textarea>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-success btn-block" type="submit">提交 </button>
            </div>
    </div>
    </form>
</div>
</div>
</section>
{{/block}}


{{block 'js'}}
<script>
    $('#newtest_form').on('submit', function (e) {
        e.preventDefault()
        var formData = $(this).serialize()
        $.ajax({
            url: '/newtest',
            type: 'post',
            data: formData,
            dataType: 'json',
            success: function (data) {
                if (data.err_code === 0) {
                    window.alert('添加成功')
                    // 服务端重定向针对异步请求无效
                    window.location.href = '/test?Taskid={{newtest[0].TaskId}}'
                } else if (data.err_code === 1) {
                    window.alert('添加失败！')
                } else if (data.err_code === 500) {
                    window.alert('服务器忙，请稍后重试！')
                }
            }
        })
    })
</script>

{{/block}}