{{extend './layout.html'}}
{{block 'link'}}

{{/block}}

<!-- 连接选择 -->
{{block 'select'}}
<section class="content-header">
    <h1>
        学生
        <small>信息</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/task"><i class="fa fa-dashboard"></i> 任务</a></li>
        <li class="active">学生</li>
    </ol>
</section>
{{/block}}


{{block 'content'}}

<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-header">
 
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                                aria-describedby="example2_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1"
                                            aria-label="Rendering engine: activate to sort column descending"
                                            aria-sort="ascending">姓名</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1"
                                            aria-label="Rendering engine: activate to sort column descending"
                                            aria-sort="ascending">学号</th>
                                       
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Platform(s): activate to sort column ascending">
                                            班级</th>
                                       
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="CSS grade: activate to sort column ascending">测试
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="CSS grade: activate to sort column ascending">总分
                                        </th>
                                        <!-- <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="CSS grade: activate to sort column ascending">位置
                                        </th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {{each studata}}
                                    <tr>
                                        <td class="mailbox-name"><a href="">{{$value.Name}}</a></td>
                                        <td class="mailbox-star">{{$value.UserId}}</td>
                                        <td class="mailbox-star">{{$value.Class}}</td>
                                        <td class="mailbox-star ">
                                            <div class="float-left"><a href="/correcttest?UserId={{$value.UserId}}&TaskId={{$value.TaskId}}">测试</a></div>

                                        </td>
                                        <td class="mailbox-star ">
                                            <div class="float-left">{{$value.FinallyGrade}}</div>

                                        </td>
                                        <!-- <td class="mailbox-star ">

                                            <div class="float-right"><a
                                                    href="">位置</a></div>
                                        </td> -->
                                    </tr>
                                    {{/each}}
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite"></div>
                        </div>
                        <div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button previous disabled" id="example2_previous"><a href="#"
                                            aria-controls="example2" data-dt-idx="0" tabindex="0">Previous</a></li>
                                    <li class="paginate_button active"><a href="#" aria-controls="example2"
                                            data-dt-idx="1" tabindex="0">1</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="2"
                                            tabindex="0">2</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="3"
                                            tabindex="0">3</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="4"
                                            tabindex="0">4</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="5"
                                            tabindex="0">5</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="6"
                                            tabindex="0">6</a></li>
                                    <li class="paginate_button next" id="example2_next"><a href="#"
                                            aria-controls="example2" data-dt-idx="7" tabindex="0">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</section>



{{/block}}
{{block 'js'}}
{{/block}}